BasedOnStyle: Google
ColumnLimit: 80

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Right
AlignTrailingComments: true
DerivePointerAlignment: false